<!DOCTYPE html>
<html>

<head>
    <title>VUE JS</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>

<body>
    <main>
        <!-- Le agrega un "Display:none" al elemento -->
        <h1 v-show="ok"> {{ funcionaElShow }}</h1>

        <!-- Elimina el elemento del DOM, no llega nunca al front -->
        <template v-if="ok">
            <h4>{{ funcionaElIF }}</h4>
        </template>

        <input type="text" v-model="mensaje">
        <pre>{{$data}}</pre>

        <button v-on:click="contar()">
            {{contador}}
        </button>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>